@model IEnumerable<AutoDealer.Web.Models.Employee>

<h2 class="text-center my-3">Работники</h2>
@{
   await Html.PartialAsync("Notification");
}

<div class="col-2 text-end mb-2">
    <a class="btn btn-outline-dark" id="createEmployee">Создать</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.StartWorkDay)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.StartWorkDay)
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-secondary editEmployee" id=@item.Id>Изменить</a>
                    <a class="btn btn-outline-danger delEmployee" id=@item.Id onclick="onDeleteEmployee(@item.Id)">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
   await Html.RenderPartialAsync("ModalDeleteDialog", "запись работника");
}

<div class="alert" role="alert" id="result"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript" src="./js/employee.js"></script>

