@model AutoDealer.Web.ViewModel.CarModelViewModel

<h1>Админ панель для моделей авто</h1>
<div class="row">
    <div class=" col-6 d-flex align-items-center justify-content-between">
        <label asp-for="@Model.CompanyId"></label>
        <select asp-for="@Model.CompanyId" class="form-control" asp-items="@(new SelectList(@Model.Companies,"Id","Title"))">
            <option value="0">Выберите</option>
        </select>
        <button id="filterBtn" class="btn btn-outline-secondary">Применить</button>
    </div>
</div>
<div id="modelContent"></div>

<script>
    $(document).ready(function() {
        $("#filterBtn").on("click", function() {
            let companyId = $("#CompanyId").val();

            if (companyId > 0) {
                $.ajax({
                    url: '@Url.Action("Models", "model")',
                    type: "GET",
                    data: {
                        companyId:  companyId
                    },
                    success: function(data) {
                        $('#modelContent').html(data);
                    },
                    error: function(ex) {
                    }
                });
            }
        });
    });
</script>