@model AutoDealer.Web.ViewModel.CarModelViewModel

@Html.Partial("Notification")

<div class="col-2 text-end mb-3">
    <input type="hidden" asp-for="CompanyId"/>
    <a class="btn btn-outline-dark" id="CreateModel">Создать</a>
</div>
<table class="col-8 table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-1 text-start">
                @Html.DisplayNameFor(model => model.ModelId)
            </th>
            <th class="col-3 text-start">
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Models)
        {
            <tr>
                <td class="col-1 text-start">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-3 text-start w-25">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col-4 text-center w-25">
                    <a href="#" class="btn-sm btn-outline-secondary editModel" id=@item.Id>Изменить</a>
                    <a href="#" class="btn-sm btn-outline-danger delModel" id=@item.Id onclick="onDeleteModel(@item.Id)">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
   await Html.RenderPartialAsync("ModalDeleteDialog", "марку автомобиля");
}

<script type="text/javascript" src="./js/carModel.js"></script>