@model AutoDealer.Web.ViewModel.CarModelViewModel

@{
    await Html.RenderPartialAsync("Notification");
}

<div class="col-2 text-end mb-3">
    <input type="hidden" asp-for="CompanyId"/>
    <a class="btn btn-outline-dark" id="CreateModel">Создать</a>
</div>
<table class="col-8 table table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-1 text-start">
                @Html.DisplayNameFor(model => model.ModelId)
            </th>
            <th class="col-3 text-start">
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Models)
        {
            <tr>
                <td class="col-1 text-start">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-3 text-start">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col-4 text-center control_table_btns">
                    <a class="text-info me-10 mr-2 editModel" id="@item.Id"><span class="badge badge-secondary p-2"><i class="ti-marker-alt mr-1"></i> изменить</span></a>
                    <a class="text-info me-10 delModel" id=@item.Id onclick="onDeleteModel(@item.Id)"><span class="badge badge-danger p-2"><i class="ti-trash mr-1"></i> удалить</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
   await Html.RenderPartialAsync("ModalDeleteDialog", "марку автомобиля");
}

<script type="text/javascript" src="./js/carModel.js"></script>