@model AutoDealer.Web.ViewModel.SalesListViewModel

@{
    int ind = 1;
    string numberHead = "Номер";
}
<h1 class="text-center head-title mx-3">Продажи</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-start">
                <a class="nav-link">@numberHead</a>
            </th>
            <th class="text-start">
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CompanySort)" class="nav-link">
                    @Html.DisplayNameFor(model => model.CompanyTitle)
                    @if (ViewBag.Desc == "company")
                    {
                        <i class="fa fa-fw fa-chevron-down"></i>
                    }
                    @if (ViewBag.Asc == "company")
                    {
                        <i class="fa fa-fw fa-chevron-up"></i>
                    }
                </a>
            </th>
            <th class="text-start">
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ModelSort)" class="nav-link">
                    @Html.DisplayNameFor(model => model.ModelTitle)
                    @if (ViewBag.Desc == "model")
                    {
                        <i class="fa fa-fw fa-chevron-down"></i>
                    }
                    @if (ViewBag.Asc == "model")
                    {
                        <i class="fa fa-fw fa-chevron-up"></i>
                    }
                </a>
            </th>
            <th class="text-start">
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CustomerSort)" class="nav-link">
                    @Html.DisplayNameFor(model => model.Customer)
                    @if (ViewBag.Desc == "customer")
                    {
                        <i class="fa fa-fw fa-chevron-down"></i>
                    }
                    @if (ViewBag.Asc == "customer")
                    {
                        <i class="fa fa-fw fa-chevron-up"></i>
                    }
                </a>
            </th>
            <th class="text-start">
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PriceSort)" class="nav-link">
                    @Html.DisplayNameFor(model => model.Price)
                    @if (ViewBag.Desc == "price")
                    {
                        <i class="fa fa-fw fa-chevron-down"></i>
                    }
                    @if (ViewBag.Asc == "price")
                    {
                        <i class="fa fa-fw fa-chevron-up"></i>
                    }
                </a>
            </th>
            <th class="text-start">
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DateSort)" class="nav-link">
                    @Html.DisplayNameFor(model => model.Date)
                    @if (ViewBag.Desc == "date")
                    {
                        <i class="fa fa-fw fa-chevron-down"></i>
                    }
                    @if (ViewBag.Asc == "date")
                    {
                        <i class="fa fa-fw fa-chevron-up"></i>
                    }
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sales)
        {
            <tr>
                <td class="text-center">
                    @ind
                    @{
                        ind++;
                    }
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.CustomerFullName)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Price) $
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-end font-weight-bold">Итого:</td>
            <td class="text-end font-weight-bold">@Model.TotalSum $</td>
            <td />
        </tr>
    </tfoot>
</table>

<div page-model="@Model" page-classes-enabled="true" action="Index"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group m-1">
</div>
