@model AutoDealer.Web.Models.Car
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Информация об автомобиле";
}

<div>
    <h1 class="text-center">Информация об автомобиле</h1>
    <div class="carousel-wrap carousel-container">
        <div class="owl-carousel owl-theme" id="slider">
            @{
                if (@Model?.CarPhotos?.Count() > 0)
                {
                    for (int i = 0; i < @Model?.CarPhotos?.Count(); i++)
                    {
                        string subPath = @Model.GetCarImagesFolderPath();
                        string path = i == 0 ? $"/CarImages/{@Model.GetMainPhoto()}" : $"/CarImages{subPath}/{@Model.CarPhotos[i]}";

                        <div class="item">
                            <a href=@path data-lightbox="roadtrip" data-title="My caption" id="carImgDetails">
                                <img class="demo cursor carImg" src=@path alt="Picture">
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="item">
                        <a href="~/images/car-default.jpg" data-lightbox="roadtrip" data-title="My caption" id="carImgDetails">
                            <img class="demo cursor carImg" src="~/images/car-default.jpg" alt="Car photo">
                        </a>
                    </div>
                }
            }
        </div>
    </div>



    @*<div class="cardetailsInfo">
        <div class="title_box">
        <h4><a href="#">@Model?.Company?.Title @Model.Model?.Title</a></h4>
        <div class="price">Цена: @Model.Price $</div>
        </div>
        <div>
        <span>год: @Model.ProduceDate</span>
        <span>цвет: @Model.Color?.Title</span>
        <span>@Model.Engine?.Capacity @Model.Engine?.Type?.Title</span>
        <span>@Model.Kilometre km</span>
        </div>
        <p>@Model.Description</p>
        <p>@Model.Settings</p>
        </div>*@
</div>
<div class="card card-body carDetails-container mt-4 mb-4">
    <p class="card-text"><label>Марка:</label> <span>@Model?.Company?.Title</span></p>
    <p class="card-text"><label>Модель:</label> <span>@Model.Model?.Title</span></p>
    <p class="card-text"><label>Год:</label> <span>@Model.ProduceDate</span></p>
    <p class="card-text"><label>Двигатель:</label> <span>@Model.Engine?.Capacity л. @Model.Engine.Type.Title</span></p>
    <p class="card-text"><label>Коробка:</label> <span>@Model.Transmission?.TransmissionType</span></p>
    <p class="card-text"><label>Цвет:</label> <span>@Model.Color?.Title</span></p>
    <p class="card-text"><label>Пробег:</label> <span>@Model.Kilometre</span></p>
    <p class="card-text"><label>Цена:</label> <span>@Model.Price $</span></p>
    <p class="card-text"><label>Комплектация:</label> <span>@Model.Settings</span></p>
    <p class="card-text">
        <label>Описание:</label> <span>@Model.Description</span>
    </p>
</div>
<div class="btn-controls">
    @{
        if (ViewBag.Admin == "adminPanel")
        {
            <a asp-action="CarAdminList" asp-controller="car" class="btn btn-outline-primary">назад</a>
        }
        else
        {
            <a asp-action="Index" asp-controller="Car" class="btn btn-outline-primary">назад</a>
            <a class="btn btn-outline-success" onclick="location.href='@Url.Action("Create", "Order", new { carId = Model.Id })'">оформить</a>
        }
    }
</div>

<script>
    $(document).ready(function(){
        console.log('document ready...');
        $('.carImg').click(function(){
            $('.next-slide').hide();
            $('.prev-slide').hide();
        });

        lightbox.option({
            'resizeDuration': 300,
            'wrapAround': true,
            'imageFadeDuration': 400,
            'fadeDuration': 400,
            'albumLabel': 'Фото %1 из %2'
        });

        $('body').click(function(){
            if ($("#lightbox").not(":visible")) {
                $('.next-slide').show();
                $('.prev-slide').show();
            }
            else {
                $('.next-slide').hide();
                $('.prev-slide').hide();
            }
        });

        //$('.lbl-close').click(function() {
        //    console.log('clicking close Btn...');
        //});

        //const slider = $("#slider").owlCarousel({
        //    loop:true,
        //    margin:10,
        //    nav:true,
        //    lazyLoad:true,
        //    responsive:{
        //        0:{
        //            items:1
        //        },
        //        600:{
        //            items:3
        //        },
        //        1000:{
        //            items:5
        //        }
        //    }
        //});
        var owl = $('.owl-carousel');
        owl.on('initialize.owl.carousel initialized.owl.carousel ' +
        'initialize.owl.carousel initialize.owl.carousel ' +
        'resize.owl.carousel resized.owl.carousel ' +
        'refresh.owl.carousel refreshed.owl.carousel ' +
        'update.owl.carousel updated.owl.carousel ' +
        'drag.owl.carousel dragged.owl.carousel ' +
        'translate.owl.carousel translated.owl.carousel ' +
        'to.owl.carousel changed.owl.carousel',
        function(e) {
            $('.' + e.type)
            .removeClass('secondary')
            .addClass('success');
            window.setTimeout(function() {
            $('.' + e.type)
                .removeClass('success')
                .addClass('secondary');
            }, 500);
        });
        owl.owlCarousel({
        loop: true,
        nav: false,
        lazyLoad: true,
        margin: 10,
        video: false,
        dots: false,
        //navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
        responsive: {
            0: {
            items: 1
            },
            600: {
            items: 1
            },
            960: {
            items: 1,
            },
            1200: {
            items: 1
            }
        }
        });
    });
</script>


