@model IEnumerable<AutoDealer.Web.Models.Company>

<h1>Админ панель для марок авто</h1>
@{
    string partMessage = string.Empty;
    switch (ViewBag.Success)
    {
        case "created": partMessage = "создана";
            break;
        case "deleted": partMessage = "удалена";
            break;
        case "edited": partMessage = "изменена";
            break;
    }

    if(partMessage != string.Empty)
    {
        <div class="alert alert-success" role="alert">Запись успешно @partMessage</div>   
    }
}

<div class="col-2 text-end mb-2">
    <a class="btn btn-outline-dark" id="CreateCompany">Создать</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Country)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-secondary editCompany" id=@item.Id>Изменить</a>
                    <a class="btn btn-outline-danger delCompany" id=@item.Id onclick="onDeleteCompany(@item.Id)">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="my-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Подтверждение удаления</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить марку авто?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="modal-btn-yes">Да</button>
                <button type="button" class="btn btn-outline-success" id="modal-btn-no">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="alert" role="alert" id="result"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    
    $(document).ready(function() {
        //$(".delCompany").click(function (e) {
        //    console.log("deleting car")
        //    let id = $(this).attr('id');
        //    console.log("id: " + id);
        //    console.log("==============");

        //    if(id > 0) {
        //        $("#my-modal").modal('show');
        //        modalConfirm(function(confirm){
        //            if(confirm){
        //                console.log("You said YES")
        //                $.ajax({
        //                    url: '@Url.Action("DeleteCompany", "car")',
        //                    type: "POST",
        //                    data: {
        //                        companyId: id
        //                    },
        //                    success: function (data) {
        //                        console.log("ok from partial");
        //                        $('#resultContent').html(data);
        //                        //hideSpinner();
        //                    },
        //                    error: function (ex) {
        //                        //hideSpinner();
        //                    }
        //                });
        //            }
        //        });
        //    }
        //});
        let idCompany = 0;

        $("#modal-btn-yes").on("click", function() {
            console.log("clicked modal Yes");
            $("#my-modal").modal('hide');
            deleteCompany(idCompany);
        });

        $("#modal-btn-no").on("click", function() {
            console.log("clicked modal No");
            $("#my-modal").modal('hide');
        });

        $(".editCompany").click(function() {
            console.log("editing car")
            let id = $(this).attr('id');
            console.log("id: " + id);

            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("EditCompany", "car")',
                    type: "GET",
                    data: {
                        companyId: id
                    },
                    success: function(data) {
                        console.log("ok from partial");
                        $('#resultContent').html(data);
                        //hideSpinner();
                    },
                    error: function(ex) {
                        //hideSpinner();
                    }
                });
            }
        });

        $("#CreateCompany").click(function() {
            $.ajax({
                url: '@Url.Action("CreateCompany", "car")',
                type: "GET",
                data: {},
                success: function(data) {
                    $('#resultContent').html(data);
                },
                error: function(ex) {
                }
            });
        });
    });

    
    function onDeleteCompany(id) {
        if (id > 0) {
            $("#my-modal").modal('show');
            idCompany = id;
        }
    }

    function deleteCompany() {
        console.log('deleteCompany  idCompany ' + idCompany);
        $.ajax({
            url: '@Url.Action("DeleteCompany", "car")',
            type: "POST",
            data: {
                companyId: idCompany
            },
            success: function(data) {
                console.log("ok from partial");
                $('#resultContent').html(data);
                //hideSpinner();
            },
            error: function(ex) {
                //hideSpinner();
            }
        });
    }
</script>

