@model AutoDealer.Web.ViewModel.CarsListViewModel
@using AutoDealer.Web.Filters;

@{
    ViewData["Title"] = "АвтоДилер";
    ViewBag.CurrentPage = 0;
}

@*<div class="col-lg-5">
    <div class="single-car-details">
        <div class="single-car-form-wrap">
            <div class="single-car-form mb-20">
                <select class="nice-select ">
                    <option>Brand</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Brand</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Brand</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Brand</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Brand</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                </select>
            </div>
            <div class="single-car-form mb-20">
                <select class="nice-select nice-select-style-3">
                    <option>Model</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                </select>
            </div>
            <div class="single-car-form mb-20">
                <select class="nice-select nice-select-style-3">
                    <option>Year</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                </select>
            </div>
            <div class="single-car-form mb-20">
                <select class="nice-select nice-select-style-3">
                    <option>Engine</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                </select>
            </div>
            <div class="single-car-submit">
                <button>Browse</button>
            </div>
        </div>
        <div class="single-car-img">
            <img src="assets/images/banner/banner-41.png" alt="">
        </div>
    </div>
</div>*@

@*
<div id="content">
    <div class="content">
        <div class="breadcrumbs">
            <a href="#">Home</a>
            @*<img src="images/marker_2.gif" alt="" />
            <span>Cars</span>
        </div>
        <div class="main_wrapper">
            <div class="cars_categories">
                <span>Все авто</span>
                <a href="#"><span>новые</span></a>
                <a href="#"><span>б/у</span></a>
            </div>
            <h1><strong>Количество</strong> (@Model.PagingInfo.TotalItems)</h1>
            <div class="catalog_sidebar">
                @{
                    await Html.RenderPartialAsync("CarFilterView", @Model?.CarFilter ?? new CarFilter());
                }
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.KilometreSort)" class="nav-link">Kilometre</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.PriceSort)" class="nav-link">Price</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.YearSort)" class="nav-link">Year</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.DateSort)" class="nav-link">Date</a>
                </li>
            </ul>
            <div class="main_catalog" id="auto">
                @{
                    await Html.RenderPartialAsync("CarsResult", @Model.Cars);
                }
            </div>
            <div page-model="@Model" page-classes-enabled="true" action="Index"
                 page-class="btn" page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary" class="btn-group m-1">
            </div>
            <div class="bottom_catalog_box">
                <div class="pagination">
                <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="space">...</li>
                <li><a href="#">8</a></li>
                <li class="next"><a href="#"><img src="images/page_next.gif" alt="" /></a></li>
                </ul>
                </div>
                <div class="clear"></div>
                </div>
        </div>
        <div class="clear"></div>
    </div>
</div>*@
<h1 class="text-center head-title mx-3">Авто в наличии</h1>
<div class="row">
	<div class="col-3 d-flex justify-content-center">
		<p class="find_auto">Найдено: <span id="count_auto">@Model.PagingInfo.TotalItems</span></p>
	</div>
</div>
@*<span>Всего: @Model.PagingInfo.TotalItems</span>*@
<div class="row">
    <div class="search_auto col-3 bg-light p-0">
        @{
            await Html.RenderPartialAsync("CarFilterView", @Model?.CarFilter ?? new CarFilter());
        }
    </div>
    <div class="col-9 bg-light">
        @{
            await Html.RenderPartialAsync("CarsResult", @Model.Cars);
        }
    </div>
</div>
<div page-model="@Model" page-classes-enabled="true" action="Index"
        page-class="btn" page-class-normal="btn-outline-dark"
        page-class-selected="btn-primary" class="btn-group m-1 mb-2">
</div>

@Html.Hidden("CurrentTab", (object)ViewBag.CurrentPage)

<script src="/js/pagination.js"></script>