@model AutoDealer.Web.Models.Car

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table, table td {
        border: 0px solid #fff;
    }

    .carImg {
        max-height: 180px;
    }

    .carousel-wrap {
        max-width: 465px;
    }

    .owl-carousel .owl-item img {
        width: 50% !important;
        display: inherit !important;
    }
</style>

<div class="carousel-wrap">
    <div class="owl-carousel owl-theme" id="slider">
        @{
            if (@Model?.CarPhotos?.Count() > 0)
                {
                    for (int i = 0; i < @Model?.CarPhotos?.Count(); i++)
                    {
                        string subPath = @Model.GetCarImagesFolderPath();
                        string path = i == 0 ? $"/CarImages/{@Model.GetMainPhoto()}" : $"/CarImages{subPath}/{@Model.CarPhotos[i]}";

                        <div class="item">
                            <a href=@path data-lightbox="roadtrip" data-title="My caption" id="carImgDetails">
                                <img class="demo cursor carImg" src=@path alt="Picture">
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="item">
                        <a href="~/images/car-default.jpg" data-lightbox="roadtrip" data-title="My caption" id="carImgDetails">
                            <img class="demo cursor carImg" src="~/images/car-default.jpg" alt="Car photo">
                        </a>
                    </div>
                }

        }
    </div>
</div>

<div class="card card-body">
    <p class="card-text"><label>Марка:</label> <span>@Model.Company?.Title</span></p>
    <p class="card-text"><label>Модель:</label> <span>@Model.Model?.Title</span></p>
    <p class="card-text"><label>Год:</label> <span>@Model.ProduceDate</span></p>
    <p class="card-text"><label>Двигатель:</label> <span>@Model.Engine?.Capacity л. @Model.Engine.Type.Title</span></p>
    <p class="card-text"><label>Коробка:</label> <span>@Model.Transmission?.TransmissionType</span></p>
    <p class="card-text"><label>Цвет:</label> <span>@Model.Color?.Title</span></p>
    <p class="card-text"><label>Пробег:</label> <span>@Model.Kilometre</span></p>
    <p class="card-text"><label>Цена:</label> <span>@Model.Price $</span></p>
    <p class="card-text"><label>Комплектация:</label> <span>@Model.Settings</span></p>
    <p class="card-text">
        <label>Описание:</label> <span>@Model.Description</span>
    </p>
</div>

<script src="/js/modalDetails.js"></script>