@model AutoDealer.Web.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="table-responsive info-form mx-auto mb-3">
    <h2 class="mt-3 text-center head-title"><i class="ti-car me-15"></i> Информация об автомобиле</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>Марка</td>
                <td>@Model.Auto.Company?.Title</td>
            </tr>
            <tr>
                <td>Модель</td>
                <td>@Model.Auto.Model?.Title</td>
            </tr>
            <tr>
                <td>Год</td>
                <td>@Model.Auto.ProduceDate г.</td>
            </tr>
            <tr>
                <td>Объем двигателя</td>
                <td>@Model.Auto?.Engine?.Capacity</td>
            </tr>
            <tr>
                <td>Тип двигателя</td>
                <td>@Model.Auto.Engine?.Type?.Title</td>
            </tr>
            <tr>
                <td>Пробег</td>
                <td>@Model.Auto.Kilometre км.</td>
            </tr>
            <tr>
                <td>Цвет</td>
                <td>@Model.Auto.Color?.Title</td>
            </tr>
            <tr>
                <td>Коробка передач</td>
                <td>@Model.Auto.Transmission?.TransmissionType</td>
            </tr>
            <tr>
                <td>Доп.опции</td>
                <td>@Model.Auto?.Settings</td>
            </tr>
            <tr>
                <td>Цена</td>
                <td class="text-danger inform_auto_price">@Model.Auto.Price $</td>
            </tr>
            <tr class="hide">
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<form class="form mb-3 info-form mx-auto" asp-action="Create" method="post" asp-controller="Order">
    <input type="hidden" asp-for="AutoId" />
    <div class="box-body">
        <h4 class="box-title mb-0 text-center head-title"><i class="ti-user me-15"></i> Персональные данные</h4>
        <hr class="my-15">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.FirstName" class="form-label"></label>
                    <input asp-for="Client.FirstName" class="form-control" placeholder="Имя" />
                    <span asp-validation-for="Client.FirstName" class="text-danger" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.LastName" class="form-label"></label>
                    <input asp-for="Client.LastName" class="form-control" placeholder="Фамилия" />
                    <span asp-validation-for="Client.LastName" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.BDay" class="form-label"></label>
                    <input asp-for="Client.BDay" type="date" class="form-control" />
                    <span asp-validation-for="Client.BDay" class="text-danger" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.PassportSeries" class="form-label"></label>
                    <input asp-for="Client.PassportSeries" class="form-control" placeholder="Пасспорт" />
                    <span asp-validation-for="Client.PassportSeries" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.Phone" class="form-label"></label>
                    <input asp-for="Client.Phone" class="form-control" placeholder="Телефон" />
                    <span asp-validation-for="Client.Phone" class="text-danger" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.City" class="form-label"></label>
                    <input asp-for="Client.City" class="form-control" placeholder="Город" />
                    <span asp-validation-for="Client.City" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.Street" class="form-label"></label>
                    <input asp-for="Client.Street" class="form-control" placeholder="Улица" />
                    <span asp-validation-for="Client.Street" class="text-danger" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.House" class="form-label"></label>
                    <input asp-for="Client.House" class="form-control" placeholder="Дом" />
                    <span asp-validation-for="Client.House" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.Flat" class="form-label"></label>
                    <input asp-for="Client.Flat" class="form-control" placeholder="Квартира" />
                    <span asp-validation-for="Client.Flat" class="text-danger" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Client.Email" class="form-label"></label>
                    <input asp-for="Client.Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Client.Email" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FinalPrice" class="form-label"></label>
                    <input asp-for="FinalPrice" type="number" class="form-control" />
                    <span asp-validation-for="FinalPrice" class="text-danger" />
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mr-3">
            <i class="ti-save-alt"></i> Сохранить
        </button>
        <a asp-action="Index" asp-controller="Car" type="button" class="btn btn-warning me-1">
            <i class="ti-trash"></i> Отменить
        </a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        //$('.datepicker').datepicker({
        //    format: 'mm/dd/yyyy',
        //    startDate: '-3d'
        //});
        //$('.datepicker').datepicker({
        //    inline: true
        //});

    });
</script>


