@model AutoDealer.Web.Models.Car

<li class="row mb-2 mx-0">
    @{
        string mainPhoto = @Model.GetMainPhoto() == string.Empty ? "/images/car-default.jpg" : $"/CarImages/{@Model.GetMainPhoto()}";
    }
    <div class="col-6 p-0 d-flex justify-content-center">
		<a href="@Url.Action("CarDetails", "Car", new {carId = @Model.Id})">
			<img src=@mainPhoto alt="car photo" class="car_list_img">
		</a>
	</div>
	<div class="col-6 py-2">
		<span class="car_list_company mr-4">@Model.Company?.Title @Model.Model?.Title </span><span class="car_list_company text-danger">@Model.Price $</span>
		<p class="car_list_item_details">@Model.ProduceDate г., @Model.Engine?.Capacity л. @Model.Engine?.Type?.Title, @Model.Kilometre км</p>
		<div class="b-descr_item_dsc mb-3 description_auto">Описание: @Model.Description</div>
		<div class="row justify-content-end">
			<a class="btn btn-primary mr-4" href="@Url.Action("CarDetails", "Car", new {carId = @Model.Id})">детали</a>
		</div>
	</div>
</li>
