@model AutoDealer.Web.Models.Car

@*<div class="card">
    <img src="~/images/mercedes.jpg" class="card-img-top" alt="car's' photo">
    <div class="card-body">
    <h5 class="card-title">Car title</h5>
    <p class="card-text">price: @Model.Price</p>
    <p class="card-text">kilometre: @Model.Kilometre</p>
    <p class="card-text">vin: @Model.Vin</p>
    <p class="card-text">description: @Model.Description</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <button type="button" class="btn btn-success">Buy</button>
    ~/images/mercedes.jpg
    </div>*@
<li class="carInfo">
    <a href="@Url.Action("CarDetails", "Car", new {carId = @Model.Id})"><img src="/CarImages/@Model.GetMainPhoto()" alt="car's' photo" class="carImg"/></a>
    <div class="catalog_desc">
        <div class="location">Location: Berlin, Germany</div>
        <div class="title_box">
            <h4><a href="@Url.Action("CarDetails", "Car", new {carId = @Model.Id})">@Model.Company?.Title @Model.Model?.Title</a></h4>
            <div class="price">@Model.Price $</div>
        </div>
        <div class="clear"></div>
        <div class="grey_area">
            <span>Registration @Model.ProduceDate</span>
            <span>@Model.Engine?.Capacity @Model.Engine?.Type?.Title</span>
            @*<span>230 HP</span>*@
            @*<span>Body Coupe</span>*@
            <span>@Model.Kilometre km</span>
        </div>
        <a href="#" class="more markered">View details</a>
    </div>
</li>
