@model IEnumerable<AutoDealer.Web.Models.Color>


<h1>Автомобильные цвета</h1>
@{
   await Html.PartialAsync("Notification");
}

<div class="col-2 text-end mb-2">
    <a class="btn btn-outline-dark" id="CreateColor">Создать</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-center">
                    <a class="btn-sm btn-outline-secondary editColor" id=@item.Id>Изменить</a>
                    <a class="btn-sm btn-outline-danger" id=@item.Id onclick="onDeleteColor(@item.Id)">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="my-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Подтверждение удаления</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить цвет авто?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-outline-danger" id="modal-btn-yes">Да</button>
                <button type="button" class="btn-sm btn-outline-success" id="modal-btn-no">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="alert" role="alert" id="result"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript" src="./js/carColor.js"></script>
