@model IEnumerable<AutoDealer.Web.Models.Color>


<h1>Автомобильные цвета</h1>
@{
   await Html.PartialAsync("Notification");
}

<div class="col-2 text-end mb-2">
    <a class="btn btn-outline-dark" id="CreateColor">Создать</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-start">
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-start">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-center">
                    <a class="btn-sm btn-outline-secondary editColor" id=@item.Id>Изменить</a>
                    <a class="btn-sm btn-outline-danger" id=@item.Id onclick="onDeleteColor(@item.Id)">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
   Html.RenderPartial("ModalDeleteDialog", "цвет авто");
}

<div class="alert" role="alert" id="result"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript" src="./js/carColor.js"></script>
