@model AutoDealer.Web.ViewModel.AddingUsedCarViewModel

@{
    IEnumerable<int> years = Enumerable.Range(1980, (DateTime.Now.Year - 1980) + 1).Reverse();
    IEnumerable<float> capacities = Enumerable.Range(5, 56).Select(number => number / 10f);
}

<form id="OwnerForm" asp-action="AddSingleCar" asp-controller="AddingCar" method="post" class="row mw-60 mt-2 mx-auto">
    <div class="col-6 form-group">
        <label asp-for="CompanyId" class="control-label"><strong>Марка:</strong></label>
        <select asp-for="CompanyId" class="form-control" id="Company" asp-items="@(new SelectList(Model.Companies,"Id","Title"))">
            <option value="0">Выберите</option>
        </select>
    </div>
    <div class="col-6 form-group" id="SelectModels">
        <label asp-for="ModelId" class="control-label"><strong>Модель:</strong></label>
        <select asp-for="ModelId" class="form-control" id="Model" asp-items="@(new SelectList(Model.Models,"Id","Title"))">
            <option value="0">Выберите</option>
        </select>
    </div>
    <div class="col-6 form-group">
        <label asp-for="EngineTypeId" class="control-label"><strong>Двигатель:</strong></label>
        <select asp-for="EngineTypeId" class="form-control" asp-items="@(new SelectList(Model.EngineTypes,"Id","Title"))">
            <option value="0">Выберите</option>
        </select>
    </div>
    <div class="col-6 form-group">
        <label asp-for="Auto.Engine.Capacity" class="control-label"><strong>Объем двигателя:</strong></label>
        @Html.DropDownListFor(m=>m.Auto.Engine.Capacity, new SelectList(capacities),"выберите", new {@class="form-control"})
        <span asp-validation-for="Auto.Engine.Capacity" class="text-danger" />
    </div>
    <div class="col-6 form-group">
        <label asp-for="TransmissionId" class="control-label"><strong>Коробка передач:</strong></label>
        <select asp-for="TransmissionId" class="form-control" asp-items="@(new SelectList(Model.Transmissions,"Id","TransmissionType"))">
            <option value="0">Выберите</option>
        </select>
    </div>
    <div class="col-6 form-group">
        <label asp-for="ColorId" class="control-label"><strong>Цвет:</strong></label>
        <select asp-for="ColorId" class="form-control" asp-items="@(new SelectList(Model.Colors,"Id","Title"))">
            <option value="0">Выберите</option>
        </select>
    </div>
    <div class="col-6 form-group">
        <label asp-for="Auto.Vin" class="control-label"></label>
        <input asp-for="Auto.Vin" class="form-control" />
        <span asp-validation-for="Auto.Vin" class="text-danger" />
    </div>
    <div class="col-6 form-group">
        <label asp-for="Auto.Kilometre" class="control-label"></label>
        <input asp-for="Auto.Kilometre" class="form-control" />
        <span asp-validation-for="Auto.Kilometre" class="text-danger" />
    </div>
    <div class="col-6 form-group">
        <label asp-for="Auto.Description" class="control-label"></label>
        <input asp-for="Auto.Description" class="form-control" />
    </div>
    <div class="col-6 form-group">
        <label asp-for="Auto.Price" class="control-label"></label>
        <input asp-for="Auto.Price" class="form-control" />
        <span asp-validation-for="Auto.Price" class="text-danger" />
    </div>
    <div class="col-6 form-group">
        <label asp-for="Auto.ProduceDate" class="control-label"></label>
        @Html.DropDownListFor(m=>m.Auto.ProduceDate, new SelectList(years),"выберите", new {@class="form-control"})
        <span asp-validation-for="Auto.ProduceDate" class="text-danger" />
    </div>
    <div class="col-6 form-group">
        <div class="row mt-2 mb-2">
            <div class="col-3 form-check ml-3">
                <input asp-for="Auto.Settings.Abs" type="checkbox" class="form-check-input" id="abs" />
                <label asp-for="Auto.Settings.Abs" class="form-check-label"></label>
            </div>
            <div class="col-3 form-check">
                <input asp-for="Auto.Settings.Esp" type="checkbox" class="form-check-input" id="esp" />
                <label asp-for="Auto.Settings.Esp" class="form-check-label"></label>
            </div>
            <div class="col-3 form-check">
                <input asp-for="Auto.Settings.ParkSensors" type="checkbox" class="form-check-input" id="parkSensors" />
                <label asp-for="Auto.Settings.ParkSensors" class="form-check-label"></label>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-3 form-check ml-3">
                <input asp-for="Auto.Settings.Camera" type="checkbox" class="form-check-input" id="camera" />
                <label asp-for="Auto.Settings.Camera" class="form-check-label"></label>
            </div>
            <div class="col-3 form-check">
                <input asp-for="Auto.Settings.Cruiz" type="checkbox" class="form-check-input" id="cruiz" />
                <label asp-for="Auto.Settings.Cruiz" class="form-check-label"></label>
            </div>
            <div class="col-3 form-check">
                <input asp-for="Auto.Settings.AirCondition" type="checkbox" class="form-check-input" id="airCondition" />
                <label asp-for="Auto.Settings.AirCondition" class="form-check-label"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-check">
                <input asp-for="Auto.Settings.ClimatControl" type="checkbox" class="form-check-input" id="climat" />
                <label asp-for="Auto.Settings.ClimatControl" class="form-check-label"></label>
            </div>
            <div class="col-4 form-check">
                <input asp-for="Auto.Settings.Navigation" type="checkbox" class="form-check-input" id="navigation" />
                <label asp-for="Auto.Settings.Navigation" class="form-check-label"></label>
            </div>
            <div class="col-4 form-check">
                <input asp-for="Auto.Settings.Bluetooth" type="checkbox" class="form-check-input" id="bluetooth" />
                <label asp-for="Auto.Settings.Bluetooth" class="form-check-label"></label>
            </div>
        </div>
    </div>
    <input asp-for="Auto.Photos" type="hidden" id="photos" />
    <div class="col mx-auto">
        <input type="submit" id="btnSubmit" value="Добавить" class="btn btn-primary" />
        <a asp-action="index" asp-controller="car" class="btn btn-danger">Отмена</a>
    </div>
</form>

<div class="row">
    <form asp-action="UploadFiles" asp-controller="FileUpload" enctype="multipart/form-data" method="post" class="col-6 form-group"
          data-ajax-method="post" data-ajax-update="#photos" data-ajax="true" class="form-group" data-ajax-success="onSuccess" data-ajax-failure="onFailed">
        <input type="hidden" class="" name="company" id="companyFile" multiple>
        <input type="hidden" class="" name="model" id="modelFile" multiple>
        <input type="file" class="" name="photoFile" id="photoFile" multiple accept="image/*">
        <label class="control-label mt-2">Загрузка фото</label>
        <input class="btn btn-outline-success mt-2" id="loadFile" type="submit" value="Загрузить" />
    </form>
</div>
<div>
    <a asp-action="Index" asp-controller="Car" class="btn btn-out-primary">На главную</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    @Html.Hidden("Models", (object)ViewBag.Models);

    <script>
        $(document).ready(function() {
            console.log("doc ready carfilter");

            let companyValue = $("#CompanyId").val();

            if (companyValue > 0) {
                $("#ModelId").prop("disabled", false);
            }


            $("#Company").on("change", function() {
                let selection = $(this).find("option:selected").text();
                let value = $(this).val();

                $("#companyFile").val(selection);
                console.log('company_value: ' + selection)

                if (value > 0) {
                    $.ajax({
                        url: '@Url.Action("getmodelsbycompany", "car")',
                        type: "GET",
                        data: {
                            companyId: value,
                            filter: false
                        },
                        success: function(data) {
                            $("#SelectModels").html(data);
                            console.log("ok from partial");
                            updateModels();
                            //hideSpinner();
                        },
                        error: function(ex) {
                            //hideSpinner();
                        }
                    });
                }

                if (value == 0) {
                    $("#ModelId").find('option').remove();
                    $("#ModelId").append('<option value="0">Выберите</options>');
                    $("#ModelId").prop("disabled", true);
                }
            });

            
        });

        function updateModels() {
            $("#ModelId").on("change", function() {
                let selection = $(this).find("option:selected").text();
                let value = $(this).val();

                $("#modelFile").val(selection);

                console.log('selection: ' + selection)
                console.log('model_value: ' + value)

                //modelsResult.find('option').remove();

                //if(value > -1) {
                //    PopulateModelSelect(selection);
                //}
            });
        }

        let onFailed = function(context) {
            console.log(context);
        }
        let onSuccess = function(context) {
            console.log(context);
            $("#photos").val(context);
        };

             //$("input:text").val("Glenn Quagmire");
    </script>